.custom-vue-dropdown-container {
    position: relative;
}

ul.custom-vue-dropdown {
    position: fixed;
    padding: 0;
    min-width: fit-content;
    list-style-type: none;
    background: #fff;
    top: 0;
    left: 0;
    top: 38px;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0px 6px 20px #cccccc;
    overflow-y: auto;
    max-height: 145px;
    z-index: 999;
}

ul.custom-vue-dropdown.fade {
    transition: 300ms;
    opacity: 0;
    pointer-events: none;
}

ul.custom-vue-dropdown.fade.show {
    transition: 300ms;
    opacity: 1;
    pointer-events: auto;
}

ul.custom-vue-dropdown li {
    padding: 5px;
}

ul.custom-vue-dropdown li:hover {
    background: #f4f6f8;
}